* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    color: #8b8c8d
}


header {
    padding-bottom: 40px;
    text-transform: uppercase;
}

nav{
    text-transform: uppercase;
}

nav h3 {
    color: #7ad7dd;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

nav a {
    color: #7ad7dd;
    font-family: 'Fjalla One', sans-serif;
    margin-left: 20px;
    float: left;
    display: block;
}

nav a:hover {
    background-color: #8b8c8d;
}

.headshot {
    text-align: center;
    background: url("images/allisontaylor_headshot.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: auto;
}

main {
    font-family: 'Fjalla One', sans-serif;
    text-align: left;
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 4em;
    padding-bottom: 4em;
}

h1, h3 {
    color: #7ad7dd;
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

h1 {
	font-size: 40px;
    padding-bottom: 1em;
}

p {
    font-family: 'Montserrat', sans-serif;
	font-size: 18px;
    line-height: 1.6em;
}

ul, ol {
    padding-left: 2em;
    font-size: 16px;
    line-height: 2em;
}

a {
    text-decoration: none;
    color: #7ad7dd;
    font-size: 20px;
}

.portfolio {
    padding-bottom: 4em;
}

.thumbnail {
    padding-right: 1.5em;
}

.about {
}

#navleft {
    float: left;
    padding: 20px;
}

#navright {
    float: right;
    padding: 20px;
}

#two_column {
    padding: 20px;
}

#left {
    padding: 20px;
    float: left;
    width: 62%;
}

#right {
    padding: 20px;
    float: right;   
    width: 30%;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

article {
    padding: 20px;
}

aside {
    padding: 20px;
}

div {
}

.contact {
}

footer {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    background-color: #8b8c8d;
    padding: 20px;
    color: #7ad7dd;
    text-align: center;
    line-height: 20px;
}

