body {
    background-color: #fff;
    font-family: 'Fjalla One', Arial, sans-serif;
    color: #8b8c8d
}

.headshot {
    text-align: center;
    background: url("images/allisontaylor_headshot.jpg");
    background-size: cover;	
    max-width: 100%;
    height: auto;
}

h1, h3 {
    color: #7ad7dd;
    font-weight: normal;
    text-transform: uppercase;
    text-align: center;

}

h1 {
	font-size: 40px
}

p {
	font-size: 20px;
}

#slogan {
	font-size: 30px
}

a {
	text-decoration: underline;
	color: #7ad7dd;
	font-size: 20px;
}

