body {
    background-color: #fff;
}

#headerimage {
    background-image: url(images/allisontaylor_headshot.jpg);
    background-size: cover;  
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

div {
}

h1, h3 {
    color: #7ad7dd;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

p {
	font-family: Arial, sans-serif;
	font-size: 18px;
}

#slogan {
	font-weight: bold;
}

a {
	text-decoration: underline;
}
